[submodule "rfp"]
	path = rfp
	url = https://github.com/nlink-jp/rfp.git
[submodule "mcp-tactics"]
	path = mcp-tactics
	url = https://github.com/nlink-jp/mcp-tactics.git
[submodule "meeting-notes"]
	path = meeting-notes
	url = https://github.com/nlink-jp/meeting-notes.git
[submodule "service-research"]
	path = service-research
	url = https://github.com/nlink-jp/service-research.git
[submodule "incident-research"]
	path = incident-research
	url = https://github.com/nlink-jp/incident-research.git
[submodule "incident-review"]
	path = incident-review
	url = https://github.com/nlink-jp/incident-review.git
